---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <section aria-labelledby="publications-{{ category[0] | slugify }}">
          <h2 id="publications-{{ category[0] | slugify }}">{{ category[1].title }}</h2>
          <div class="publication-list">
        {% assign title_shown = true %}
      {% endunless %}
      {% include publication-card.html %}
    {% endfor %}
    {% if title_shown %}
          </div>
        </section>
    {% endif %}
  {% endfor %}
{% else %}
  <div class="publication-list">
    {% for post in site.publications reversed %}
      {% include publication-card.html %}
    {% endfor %}
  </div>
{% endif %}
